include _functions

extends layout

block content
  h1= title
  p Welcome to #{title}
  ul#albums
    each album in data
      li 
        img(src="#{album.cover}")
        h2 #{album.title}
        h3 #{album.artist}
        p #{album.date}
        p $ #{format(+album.price)}
        span.button
          a(href="#") add to cart
