//- set app.locals.basedir , otherwise use ./_mixins
include _mixins 
include _cart_mock
include _functions

doctype html
html
  head
    title Web Store
    +stylesheet_link_tag("application")
    link(href="http://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css")
  body
    main
      h1 Products
      div#cart
        h3 
          a(href="#") Cart 
            span #{cart_quantity()}
        div#items
          ul
            each item in cart
              li #{item.title} x #{item.quantity}
                span $#{format(item.price)}
            li 
              strong Total: 
              span $#{format(cart.reduce(total))}
          a(href="#") Checkout

      block content
    +javascript_include_tag("cart")